{% extends 'base.html' %}
{% block title %}Career at A&A Bau{% endblock %}
{% block content %}
    <h1 style="text-align: center; margin-bottom: 50px;">
        Build your career with us!
    </h1>

    <p>
        At A&A Bau, we are building more than just structures – we are building futures.
        Join our team of skilled professionals and contribute to projects that shape cities and communities.
        From site supervision and technical management to construction work and office administration,
        we offer opportunities for growth, hands-on experience, and a supportive work environment.
        If you are passionate about construction, teamwork, and delivering high-quality results, explore our current openings and take the next step in your career with us.
    </p>
    <div>
        <a href="{% url 'career:jobs_list' %}" class="btn btn-primary">View our job offers!</a>
    </div>
    <style>
    .btn-primary{
        display: flex;
        justify-content: center;
        background-color: #007bff;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s;
}

.contact-container .btn-primary:hover {
    background-color: #0056b3;
}

    </style>
{% endblock %}