{% extends 'base.html' %}
{% block content %}
<div class='main-text'>
    <h1>
        Thank you for applying!
    </h1>
        <p>
            You will be hearing from us in the next 24 hours! We will contact you with the details you left us in the contact form.
        </p>
    <div class='home-button'>
        <a href='{% url 'career:jobs_list' %}' class='btn btn-primary'>Back to the job offers</a>
    </div>
</div>

<style>

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    max-width: 700px;
}
</style>
{% endblock %}